.bck-green{
  background-color: #1bbc9b;
}
.title{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 15px;
}
.button-container{
  text-align: center;
  margin-bottom: 30px;
}
/* STELLA */
.star-container{
  text-align: center;
  padding-top: 15px;
  font-size: 15px;
  font-weight: 900;
}
.star-container i{
  line-height: 4px;
  vertical-align: middle;
}
.star-container::before,
.star-container::after{
  content: "";
  display: inline-block;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  vertical-align: middle;
}
.star-container.star-white::before,
.star-container.star-white::after{
  background-color: white;
}
.star-container.star-dark::before,
.star-container.star-dark::after{
  background-color: #2c3e50;
}
.star-white{
  color: white;
}
.star-dark{
  color: #2c3e50;
}
/* FINE STELLA */
/* COMMON */

#navbar{
  height: 180px;
  background-color: #425B76;
}

/* JUMBOTRON */
#jumbotron .title{
  color: #fff;
}
/* FINE JUMBOTRON */

/* PORTFOLIO */
[class*="col-xs-"] img{
  width: 100%;
  padding-top: 20px;
}
/* FINE PORTFOLIO */

/* ABOUT */
#about{
  margin-top: 40px;
}
#about h2{
  color: #fff;
}
#about p{
  color: #fff;
  padding: 40px 20%;
  font-size: 22px;
}
/* FINE ABOUT */

/* CONTACT */
/* FINE CONTACT */
