.title{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 15px;
}
i{
  margin-left: 45%;
  padding-top: 15px;
}
/* COMMON */

#navbar{
  height: 180px;
  background-color: #425B76;
}

/* JUMBOTRON */
#jumbotron{
background-color: #1bbc9b;
}

#jumbotron .title{
  color: #fff;
}

#jumbotron i{
  color: #fff;
}
/* FINE JUMBOTRON */

/* PORTFOLIO */
[class*="col-xs-"] img{
  width: 100%;
  padding-top: 20px;
}
/* FINE PORTFOLIO */

/* ABOUT */
#about{
  background-color: #1bbc9b;
  margin-top: 40px;
}
#about h2,i{
  color: #fff;
}
#about p{
  color: #fff;
  padding: 40px 20%;
  font-size: 22px;
}
#about button{
margin-left: 35%;
margin-bottom: 30px;
}
/* FINE ABOUT */

/* CONTACT */
#contact i{
  color: black;
}
/* FINE CONTACT */
